// Place all the styles related to the Furnitures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.card-show {
  width: 80%;
  height: 100%;
  margin: auto;
  
}

.image-show {
  width: 500px;
  height: 500px;
}

.list-group-item {
  width: 300px;
}

.control {
  margin-top: 20px;
}