// Place all the styles related to the Furnitures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card-show {
  width: 80%;
  height: 100%;
  margin: auto;
}

.furniture-page {
  padding-top: 150px;
  background-color: #f2cc8f;
  padding-bottom: 400px;
}

.card-title {
  color: #9c6644 !important;
  font-weight: bold;
  font-size: 20px;
}

.image-show {
  width: 500px;
  height: 500px;
}

.list-group-item {
  width: 300px;
}

.control {
  margin-top: 20px;
}
