// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.furniture-list {
  list-style: none;
  margin: auto;
  width: 90%;
}

.furniture-list li {
  display: inline-block;
  width: 300px;
  height: 480px;
  margin: 20px;
  border-radius: 30px !important;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: 30px !important;
  border: 2px solid #9c6644 !important;
}

.furniture-image {
  width: 250px !important;
  height: 250px !important;
  margin: auto;
  border-radius: 30px;
}

.banner {
  width: 100%;
  height: 80vh;
}

.btn-furniture {
  margin: auto;
  width: 150px;
  margin-top: 20px;
  color: white !important;
}

.title, .subtitle {
  color: #b08968;
  text-align: left;
  position: relative;
  top: 50%;
  margin-left: 50px;
  z-index: 1;
}

.second-block {
  background-color: rgba($color: #ced4da, $alpha: 0.5);
}

.subtitle {
  font-weight: normal;
  width: 1000px;
  color: white;
}

.title-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  background-color: rgba($color: #000, $alpha: 0.7);
}