// Place all the styles related to the Manufacturers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.show-page {
  padding-top: 150px;
  width: 20%;
  margin: auto;
}

.show-page p {
  font-size: 20px;
}