<div class="furniture-page">
  <h1 class="form-title">Редактирование Категория</h1>

  <%= render 'form', category: @category %>

  <%= link_to 'Показать', @category, class: "btn btn-danger" %> |
  <%= link_to 'Назад', categories_path, class: "btn btn-danger" %>
</div>