<div class="furniture-page">
  <h1 class="form-title">Редактирование Производителя</h1>

  <%= render 'form', manufacturer: @manufacturer %>

  <%= link_to 'Показать', @manufacturer, class: "btn btn-furniture" %> |
  <%= link_to 'Назад', manufacturers_path, class: "btn btn-furniture" %>
</div>