<h1 class="form-title">Editing Manufacturer</h1>

<%= render 'form', manufacturer: @manufacturer %>

<%= link_to 'Показать', @manufacturer, class: "btn btn-danger" %> |
<%= link_to 'Назад', manufacturers_path, class: "btn btn-danger" %>
