<div class="furniture-page">
  <h1 class="form-title">Новый Производитель</h1>

  <%= render 'form', manufacturer: @manufacturer %>

  <%= link_to 'Назад', manufacturers_path, class: "btn btn-danger" %>
</div>